.git
.github
.venv
__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
.cache
models/transformer_financial_es
data/bolivia/noticias_bolivia_previous.csv
data/bolivia/noticias_bolivia_current.csv
